<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EmailService.EmailSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="EmailService.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EmailService.EmailSettings>
            <setting name="EmailPassword" serializeAs="String">
                <value>EAAAAHLyzQXhmNRQoE7/tO56TMzh+smGIU/UsnpxI2VGqojL</value>
            </setting>
            <setting name="SharedSecret" serializeAs="String">
                <value>GCEmailPW16</value>
            </setting>
            <setting name="EmailAddress" serializeAs="String">
                <value>gc.seniorsoftwareproject@gmail.com</value>
            </setting>
        </EmailService.EmailSettings>
    </applicationSettings>
</configuration>